<launch>
    <include file="$(find maxwell_arm_navigation)/launch/maxwell_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="maxwell_arm_kinematics">
        <param name="group" type="string" value="arm" />
        <param name="arm/root_name" type="string" value="arm_link" />
        <param name="arm/tip_name" type="string" value="gripper_link" />
        <param name="arm/epsilon" value="0.0005" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
