<?xml version="1.0"?>
<robot name="maxwell" >

  <!-- Calibration from 8/7
  <property name='calib_cam_x' value='-0.000859868' />
  <property name='calib_cam_y' value='0.0171667' />
  <property name='calib_cam_z' value='0.0192186' />
  <property name='calib_cam_rr' value='-0.0432624' />
  <property name='calib_cam_rp' value='-0.0226177' />
  <property name='calib_cam_ry' value='0.00714413' />
  -->
  <!-- Calibration from 8/8
  <property name='calib_cam_x' value='-0.00515338' />
  <property name='calib_cam_y' value='0.0131489' />
  <property name='calib_cam_z' value='0.0169829' />
  <property name='calib_cam_rr' value='-0.0397998' />
  <property name='calib_cam_rp' value='-0.0241423' />
  <property name='calib_cam_ry' value='0.00627637' />
  -->

  <property name='calib_cam_x' value='0.00468423' />
  <property name='calib_cam_y' value='0.0060704' />
  <property name='calib_cam_z' value='0.0118428' />
  <property name='calib_cam_rr' value='-0.024976' />
  <property name='calib_cam_rp' value='-0.0119664' />
  <property name='calib_cam_ry' value='0.0228755' />

  <!--
  <property name="calib_cam_x" value="0" />
  <property name="calib_cam_y" value="0" />
  <property name="calib_cam_z" value="0" />
  <property name="calib_cam_rr" value="0" />
  <property name="calib_cam_rp" value="0" />
  <property name="calib_cam_ry" value="0" />
  -->

  <property name="ax12_height" value="0.04762" />
  <property name="ax12_width" value="0.0381" />
  <property name="ax12_depth" value="0.0318" />
  <property name="ax12_center" value="0.0385" />

  <!-- height properties -->
  <!--<property name="arm_height" value="0.911225" />-->
  <property name="arm_height" value="0.885825" /><!-- height to shoulder lift rotation -->
  <property name="column_height" value="1.397" /> <!-- height to neck tilt rotation -->
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <include filename="$(find maxwell_defs)/urdf/base.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/torso.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/arm.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/gripper.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/head.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/materials.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual Maxwell -->
  <armadillo_base name="base"/>

  <!-- Add Torso Upright -->
  <maxwell_torso name="torso" parent="base">
    <origin xyz="-0.00635 0 ${arm_height}"/>
  </maxwell_torso>

  <!-- Arm -->
  <maxwell_arm name="arm" parent="torso">
    <origin xyz="0.0608 0 0"/>
  </maxwell_arm>

  <!-- Gripper -->
  <maxwell_gripper name="gripper" parent="arm_wrist_roll">
    <origin xyz="0.150 0 0" /> 
  </maxwell_gripper>

  <!-- Kinect head -->
  <maxwell_head name="head" parent="base">
    <!--<origin xyz="0.0157 0 ${column_height}"/>-->
    <origin xyz="${0.0157+0.05715/2} -0.005 ${column_height}"/>
  </maxwell_head>

</robot>
