<launch>

  <!-- fk/ik solver -->
  <node pkg="arm_kinematics" type="arm_kinematics" name="arm_kinematics" >
    <param name="root_name" value="arm_link" />
    <param name="tip_name" value="gripper_link" />
  </node>

  <node name="simple_arm_server" pkg="simple_arm_server" type="simple_arm_server.py" output="screen" >
    <param name="arm_dof" value="5" />
    <param name="root_name" value="arm_link" />
    <param name="tip_name" value="gripper_link" />
    <remap from="follow_joint_trajectory" to="arm_controller/follow_joint_trajectory" />
  </node>

</launch>

