<launch>

  <group ns="arm_chain">
    <node pkg="joint_states_settler" type="joint_states_settler_action"
          name="settler" output="screen">
      <remap from="joint_states" to="/joint_states" />
      <remap from="pruned_joint_states" to="chain_state" />
      <param name="joint_name_00" type="string" value="arm_shoulder_pan_joint" />
      <param name="joint_tol_00"  type="double" value="0.0" />
      <param name="joint_name_01" type="string" value="arm_shoulder_lift_joint" />
      <param name="joint_tol_01"  type="double" value="0.0" />
      <param name="joint_name_02" type="string" value="arm_elbow_flex_joint" />
      <param name="joint_tol_02"  type="double" value="0.0" />
      <param name="joint_name_03" type="string" value="arm_wrist_flex_joint" />
      <param name="joint_tol_03"  type="double" value="0.0" />
      <param name="joint_name_04" type="string" value="arm_wrist_roll_joint" />
      <param name="joint_tol_04"  type="double" value="0.0" />
    </node>
  </group>

  <group ns="head_chain">
    <node pkg="joint_states_settler" type="joint_states_settler_action"
          name="settler" output="screen">
      <remap from="joint_states" to="/joint_states" />
      <remap from="pruned_joint_states" to="chain_state" />
      <param name="joint_name_00" type="string" value="head_pan_joint" />
      <param name="joint_tol_00"  type="double" value="0.0" />
      <param name="joint_name_01" type="string" value="head_tilt_joint" />
      <param name="joint_tol_01"  type="double" value="0.0" />
    </node>
  </group>

  <!-- Cameras -->
  <include file="$(find pr2_calibration_launch)/capture_data/monocam_pipeline.launch"
           ns="camera/rgb" />
  <node type="relay"
        pkg="topic_tools"
        name="camera_rgb_relay"
        args="/camera/rgb/image_mono /camera/rgb/image_rect" />
  <node type="throttle"
        pkg="topic_tools"
        name="camera_rgb_throttle"
        args="messages /camera/rgb/image_rect 2" />

  <!-- Intersector -->
  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="head_chain" to="head_chain/settled_interval" />
    <remap from="arm_chain" to="arm_chain/settled_interval" />
    <remap from="kinect_rect" to="camera/rgb/settled_interval" />
    <remap from="interval" to="request_interval" />
  </node>

</launch>
